.github 
  span View on #[a(href='https://github.com/jaygould/whiskr') Github] 
  img.githubImg(src='/img/github.svg')

.version
  span App developed by #[a(href='https://www.jaygould.co.uk')  Jay Gould] | V0.1.6
