#titleWrap
  h1.siteTitle Whiskr
  a.openNav &#9776;


#sideMenu
  .inner 
    a.closeSideMenu ×

    .filterWrap
      .catFilter
        input#catFilter(type='checkbox' checked)
        label.green(for='catFilter') &#x2714;
        span Cats

      .dogFilter
        input#dogFilter(type='checkbox' checked)
        label.green(for='dogFilter') &#x2714;
        span Dogs
