.mainWrap {
	position: relative;
	.spinner {
		z-index: 10;
		position: absolute;
		left: 50%;
		top: 100px;
		transform: translateZ(0) translateX(-50%);
		width: 125px;
		@media (max-width: 425px) {
			width: 80px;
		}
	}
	.voteCount .voteInner {
		display: block;
		position: absolute;
		width: 100%;
		font-weight: 800;
		opacity: 1;
		transform: translateY(0%);
		text-align: center;
		text-shadow: 0px 0px 30px #fff;
		font-size: 26px;
		-webkit-text-stroke-width: 1px;
		-webkit-text-fill-color: #fff;

		&.yes {
			-webkit-text-stroke-color: rgb(32, 154, 48);
		}
		&.no {
			-webkit-text-stroke-color: rgb(170, 31, 31);
		}

		&.popVote {
			opacity: 0;
			transform: translateY(-200px);
			transition: opacity 1000ms ease-in-out, transform 800ms ease-in;
		}
		@media (max-width: 320px) {
			font-size: 22px;
			z-index: 10;
		}
	}
}
#cardWrap {
	opacity: 0;
	overflow: visible;
	.imgWrap {
		position: absolute;
		left: calc(50% - 175px);
		@media (max-width: 425px) {
			width: 240px;
			left: calc(50% - 120px);
		}
		transform: translate3d(0, 0, 0);
		transition: transform 100ms;
		.card {
			object-fit: cover;
			width: 350px;
			height: 450px;
			@media (max-width: 425px) {
				width: 240px;
				height: 320px;
			}
			@media (max-width: 320px) {
				height: 280px;
			}
		}
		&.spinOutYes {
			transform: translateX(100%) translateY(-100px) rotate(10deg) !important;
			opacity: 0;
			transition: all 400ms ease-in-out;
		}
		&.spinOutNo {
			transform: translateX(-150%) translateY(-100px) rotate(-10deg) !important;
			opacity: 0;
			transition: all 400ms ease-in-out;
		}
	}
}
#cardWrap.show {
	transition: opacity 300ms cubic-bezier(1, -0.27, 1, 1.2);
	opacity: 1 !important;
	will-change: opacity;
}

.yesnoBtnWrap {
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	margin: 60px 0px;
	a.yesno {
		align-self: center;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		border: 2px solid white;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		transition: all 200ms;
		img {
			width: 100%;
		}
		&:hover {
			transform: scale(1.05);
			cursor: pointer;
		}
		@media (max-width: 600px) {
			width: 80px;
			height: 80px;
		}
	}
	.yes {
		margin-left: 15px;
		@media (max-width: 320px) {
			margin-left: 10px;
		}
	}
	.no {
		margin-right: 15px;
		@media (max-width: 320px) {
			margin-right: 10px;
		}
	}

	@media (max-width: 600px) {
		margin: 60px 0px;
	}
	@media (max-width: 600px) {
		margin: 50px 0px;
	}
	@media (max-width: 320px) {
		margin: 15px 0px;
	}
}
.yesnoBtnWrap.show {
	transition: opacity 300ms cubic-bezier(1, -0.27, 1, 1.2);
	opacity: 1 !important;
	will-change: opacity;
}
.catDogBtnWrap {
	text-align: center;
	z-index: 100;
	position: relative;
}
